.cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color: #fff;
    margin-top: 100px;
}

.cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.cont_img_footer{
    padding: 5%;
}
