
@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700; 800;900& display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;    
}
.background-container {
    background-image: url('tu-imagen.jpg');
    background-size: cover;
    background-position: center;
    /* Agrega cualquier otra propiedad necesaria */
}

.cont_sec_1{
    padding: 10%;
}

.cont_sec_1_link{
    padding: 5%;
}

.cont_sec_1_link a{
    width: 200px;
}

.cont_sec_1 hr{
    border-top: 1px solid rgba(1, 1,1, 0.3);
}


img {
border-radius: 10px;
}

